# Lambda functions

Lambda functions for feature engineering. Using lambdas, you can apply transformations to dataframe columns or to generate new ones. Lambda functions are especially useful when the creation of a new column is based on a complex relationship between existing ones.

Consider the following dataframe:

In [3]:
frame = pd.DataFrame({"y": [1,2,3],"z":[4,5,6]})

frame

   y  z
0  1  4
1  2  5
2  3  6

Apply a Lambda function to multiply all values by 10.

Now, use a Lambda to create a new column 'w' which is the product of columns 'y' and 'z'.

It is also possible to call predefined functions in a `lambda`. Apply the following function to the entire dataframe.

In [1]:
def divide(data):
    return data/10

Create a function which you will call with lambda to generate a new column "v" which is the product of y,z,w.