# predict the online sales of a consumer product

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

# Load the example tips dataset
tips = sns.load_dataset("tips")
tips.head()

   total_bill   tip     sex smoker  day    time  size
0       16.99  1.01  Female     No  Sun  Dinner     2
1       10.34  1.66    Male     No  Sun  Dinner     3
2       21.01  3.50    Male     No  Sun  Dinner     3
3       23.68  3.31    Male     No  Sun  Dinner     2
4       24.59  3.61  Female     No  Sun  Dinner     4

In [ ]:
# TO DO: plot any graphs and retrieve any data from the dataset
# Be creative and make use of the tools you learned this week.

## Ex1 : Plot the Tip vs Total_bill

In [3]:
# TO DO : plot the tip (on y-axis) depending on the total_bill (on x-axis)
# INSERT YOUR CODE HERE

In [4]:
def plot_line(slope, intercept, ax):
    """Plot a line from slope and intercept on the ax"""
    # INSERT YOUR CODE
    pass

In [6]:
# TO DO: play with slopes and intercepts to get the best fit
# Note you should plot the line(s) on your scatterplot from before...

In [7]:
# Import the functions you implemented : squared_errors and mean_squared_error
# YOUR CODE HERE

# Play with the slope and intercept try to get the min. value for mean_squared_error
# YOUR CODE HERE