In [5]:
from google.cloud import bigquery

from google.oauth2 import service_account
LOCATION = "EU"
PROJECT = "wagon-bootcamp-256316"
key_path = "/Users/jeanbizot/google-credentials/wagon-bootcamp-3567d0ae8e1e.json"
credentials = service_account.Credentials.from_service_account_file(
    key_path,
    scopes=["https://www.googleapis.com/auth/cloud-platform"])
client = bigquery.Client(credentials=credentials,
    project=credentials.project_id)

# Perform a query.
TABLE = "train_sample"
QUERY = 'SELECT * FROM `wagon-bootcamp-256316.taxiFare.{}` LIMIT 1000'.format(TABLE)
query_job = client.query(QUERY)  # API request

In [6]:
# As DataFrame
df = query_job.to_dataframe()

# As rows
# rows = query_job.result()  # Waits for query to finish

In [2]:
for row in rows:
    print(row.fare_amount)

'wagon-bootcamp-256316'

In [14]:
df.shape

(1000, 8)

In [4]:
df.head()

,fare_amount,key,pickup_datetime,pickup_longitude,pickup_latitude,dropoff_longitude,dropoff_latitude,passenger_count
0,2.5,2011-09-13 18:45:31+00:00,2011-09-13 18:45:31+00:00,-73.783300,40.648600,-73.783300,40.648600,0
1,3.0,2014-11-08 13:17:52+00:00,2014-11-08 13:17:52+00:00,-73.973572,40.751864,-73.972421,40.753252,0
2,4.5,2011-07-22 05:51:00+00:00,2011-07-22 05:51:00+00:00,-73.975500,40.760800,-73.990200,40.760000,0
3,4.5,2012-04-19 19:44:48+00:00,2012-04-19 19:44:48+00:00,-73.964598,40.807213,-73.970875,40.797955,0
4,4.5,2012-02-01 21:18:24+00:00,2012-02-01 21:18:24+00:00,-73.982117,40.770408,-73.980057,40.762155,0