# Reboot - CEO Request

## Sellers cut-off

The goal of this exercice is to compute, for each `seller_id`

- The **revenue** it brings (10% of each sales + 80 BRL per month)
- The **cost** associated with all its bad reviews (1-star = 100 BRL, 2-star = 50, 3-star=40)

❓ Let's not start all again from scratch! Import your seller training set and investigate what you already have

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

%load_ext autoreload
%autoreload 2

In [2]:
from olist.seller import Seller
sellers = Seller().get_training_data()

In [3]:
sellers

,seller_id,seller_city,seller_state,delay_to_carrier,wait_time,date_first_sale,date_last_sale,share_one_stars,share_of_five_stars,review_score,n_orders,quantity,sales
0,3442f8959a84dea7ee197c632cb2df15,campinas,SP,0.000000,13.018588,2017-05-05 16:25:11,2017-08-30 12:50:19,0.333333,0.333333,3.00,3,3,218.70
1,d1b65fc7debc3361ea86b5f14c68d2e2,mogi guacu,SP,0.000000,9.065716,2017-03-29 02:10:34,2018-06-06 20:15:21,0.050000,0.725000,4.55,40,41,11703.07
2,ce3ad9de960102d0677a81f5d0bb7b2d,rio de janeiro,RJ,0.000000,4.042292,2018-07-30 12:44:49,2018-07-30 12:44:49,0.000000,1.000000,5.00,1,1,158.00
3,c0f3eea2e14555b6faeea3dd58c1b1c3,sao paulo,SP,0.000000,5.667187,2018-08-03 00:44:08,2018-08-03 00:44:08,0.000000,1.000000,5.00,1,1,79.99
4,51a04a8a6bdcb23deccc82b0b80742cf,braganca paulista,SP,3.353727,35.314861,2017-11-14 12:15:25,2017-11-14 12:15:25,1.000000,0.000000,1.00,1,1,167.99
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2965,98dddbc4601dd4443ca174359b237166,sarandi,PR,0.000000,8.230822,2018-07-14 03:10:19,2018-07-23 15:34:03,0.000000,1.000000,5.00,2,2,158.00
2966,f8201cab383e484733266d1906e2fdfa,palhoca,SC,0.000000,13.045797,2017-06-17 15:30:11,2018-08-11 19:55:17,0.100000,0.500000,4.10,10,10,889.00
2967,74871d19219c7d518d0090283e03c137,sao paulo,SP,0.000000,3.606625,2018-04-05 17:09:46,2018-08-21 19:25:15,0.000000,1.000000,5.00,6,7,550.04
2968,e603cf3fec55f8697c9059638d6c8eb5,pelotas,RS,0.000000,6.657634,2017-02-09 02:43:17,2017-06-16 17:30:16,0.000000,0.500000,4.25,8,11,297.00
2969,9e25199f6ef7e7c347120ff175652c3b,taubate,SP,0.000000,8.199456,2017-03-27 10:10:27,2017-03-27 10:10:27,0.000000,0.000000,4.00,1,1,12.50

❓What information is missing from this dataframe, in order to be able to compute what you want

- We miss the "cost of bad reviews"
- Cannot be directly computed from the average "review_score" per seller

❓ Investigate, in your source code in `seller.py`, how is computed the mean `review_score` per seller. 

Can you imagine a way to compute `cost_of_reviews` in the same way?

In [5]:
Seller().get_review_score()

,seller_id,share_one_stars,share_of_five_stars,review_score,cost_of_reviews
0,0015a82c2db000af6aaaf3ae2ecb0532,0.333333,0.666667,3.666667,100
1,001cca7ae9ae17fb1caed9dfb1094831,0.130000,0.520000,3.950000,3800
2,001e6ad469a905060d959994f1b41e4f,1.000000,0.000000,1.000000,100
3,002100f778ceb8431b7a1020ff7ab48f,0.134615,0.519231,3.903846,1110
4,003554e2dce176b5555353e4f3555ac8,0.000000,1.000000,5.000000,0
...,...,...,...,...,...
3090,ffcfefa19b08742c5d315f2791395ee5,1.000000,0.000000,1.000000,100
3091,ffdd9f82b9a447f6f8d4b91554cc7dd3,0.055556,0.666667,4.333333,190
3092,ffeee66ac5d5a62fe688b9d26f83f534,0.142857,0.642857,4.214286,200
3093,fffd5413c0700ac820c7069d66d98c89,0.183333,0.550000,3.866667,1360
3094,ffff564a4f9085cd26170f4732393726,0.650000,0.200000,2.100000,1420