# Binning

Binning is the process of turning continuous data into discrete data according to sections (bins). For example, in a dataset constituted of people's ages, you may want to consider age groups.

Run the code below.

In [2]:
import pandas as pd

ages = pd.DataFrame(columns=["age"], 
                  data=([[13],[15],[18],[19],[20],[22],[23],[23]]))

ages

   age
0   13
1   15
2   18
3   19
4   20
5   22
6   23
7   23

To part the data, you can use panda's `cut` ([doc](https://pandas.pydata.org/pandas-docs/version/0.23.4/generated/pandas.cut.html)). Use it to create a new column categorizing teens and adults.