# Orders

‚úèÔ∏è **Exercise**

Today, we will investigate the **orders**, and their associated **review score**.

üëâ Our goal is to create a DataFrame with the following features:


| feature_name 	| type 	| description 	|
|:---	|:---:	|:---	|
| `order_id` 	| str 	| the id of the order 	|
| `wait_time` 	| float 	| the number of days between order_date and delivered_date 	|
| `expected_wait_time` 	| float 	| the number of days between order_date and estimated_delivery_date 	|
| `delay_vs_expected` 	| float 	| if the actual delivery date is later than the estimated delivery date, returns the number of days between the two dates, otherwise return 0 	|
| `order_status` 	| str 	| the status of the order 	|
| `dim_is_five_star` 	| int 	| 1 if the order received a five-star review, 0 otherwise 	|
| `dim_is_one_star` 	| int 	| 1 if the order received a one_star, 0 otherwise 	|
| `review_score` 	| int 	| from 1 to 5 	|
| `number_of_products` 	| int 	| number of products that the order contains 	|
| `number_of_sellers` 	| int 	| number of sellers involved in the order 	|
| `price` 	| float 	| total price of the order paid by customer 	|
| `freight_value` 	| float 	| value of the freight paid by customer 	|
| `distance_customer_seller` 	| float 	| the distance in km between customer and seller (optional) 	|  
  
‚ö†Ô∏è We also want to filter out "non-delivered" orders, unless explicitly specified, otherwise we cannot compute the potential delays.

‚ùì **Your challenge**: 

- Implement each feature as a separate method within the `Order` class available at `olist/order.py`
- Then, create a method `get_training_data()` that returns the complete DataFrame.

üí° Suggested methodology:
- Use the notebook below to write and test your code step-by-step first
- Then copy the code into `order.py` once you are certain of your code logic
- Focus on the data manipulation logic now, we will analyse the dataset visually in the next challenges

üî• Notebook best practices (must-read) üëá

<details>
    <summary>‚ñ∏ <i>click here</i></summary>

From now on, exploratory notebooks are going to become pretty long, and we strongly advise you to follow these notebook principles:
- Code your logic so that your Notebook can always be ran from top to bottom without crashing (Cell --> Run All)
- Name your variables carefully 
- Use dummy names such as `tmp` or `_` for intermediary steps when you know you won't need them for long
- Clear your code and merge cells when relevant to minimize Notebook size (`Shift-M`)
- Hide your cell output if you don't need to see it anymore (double-click on the red `Out[]:` section to the left of your cell).
- Make heavy use of jupyter nbextention `Collapsable Headings` and `Table of Content` (call a TA if you can't find them)
- Use the following shortcuts 
    - `a` to insert a cell above
    - `b` to insert a cell below
    - `dd` to delete a cell
    - `esc` and `arrows` to move between cells
    - `Shift-Enter` to execute cell and move focus to the next one
    - use `Shift + Tab` when you are between method brackets e.g. `groupby()` to get the docs! Repeat a few times to open it permanently

</details>

In [1]:
# Auto reload imported module everytime a jupyter cell is executed (handy for olist.order.py updates)
%load_ext autoreload
%autoreload 2

In [2]:
# Import usual modules
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [3]:
# Import olist data
from olist.data import Olist
olist = Olist()
data = olist.get_data()

In [4]:
# What datasets do we have access to now ? 
data.keys()

dict_keys(['sellers', 'product_category_name_translation', 'orders', 'order_items', 'customers', 'geolocation', 'order_payments', 'order_reviews', 'products'])

In [5]:
orders = data['orders'].copy() # good practice to be sure not to modify your `data` variable

assert(orders.shape == (99441, 8))

## 1. Code `order.py`

### a) `get_wait_time`
    ‚ùì Return a Dataframe with:
           order_id, wait_time, expected_wait_time, delay_vs_expected, order_status

üéÅ We give you the pseudo-code below üëá for this first method:

> 1. Inspect the `orders` dataframe
2. Filter the dataframe on `delivered orders`
3. Handle `datetime`
    - Take time to understand what python [`datetime`](https://docs.python.org/3/library/datetime.html) objects are
    - and convert dates from "string" type to "pandas.datetime' using [`pandas.to_datetime()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.to_datetime.html)
4. Compute `wait_time`
5. Compute `expected_wait_time`
6. Compute `delay_vs_expected`
7. Check the new dataframe 
8. Once you are satisfied with your code, you can carefully copy-paste it from the notebook to to `olist/order.py`

In [7]:
# YOUR CODE HERE

delivered_orders = orders[orders['order_status']=='delivered']
delivered_orders['order_purchase_timestamp'] = pd.to_datetime(delivered_orders['order_purchase_timestamp'])
delivered_orders['order_delivered_customer_date'] = pd.to_datetime(delivered_orders['order_delivered_customer_date'])
delivered_orders['order_estimated_delivery_date'] = pd.to_datetime(delivered_orders['order_estimated_delivery_date'])
delivered_orders['wait_time']=delivered_orders['order_delivered_customer_date'] - \
     delivered_orders['order_purchase_timestamp']
delivered_orders['expected_wait_time']=delivered_orders['order_estimated_delivery_date'] - \
     delivered_orders['order_purchase_timestamp']


delivered_orders['delay_vs_expected'] = [delivered_orders.wait_time[i] - delivered_orders.expected_wait_time[i]\
                                         if delivered_orders.wait_time[i] > delivered_orders.expected_wait_time[i] \
                                        else 0 for i in delivered_orders.index]

delivered_orders = delivered_orders[['order_id', 'order_status',    
       'wait_time', 'expected_wait_time', 'delay_vs_expected']]

/var/folders/yf/53d25rm10gq_l7wdtlp_205w0000gn/T/ipykernel_84018/3855598109.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_purchase_timestamp'] = pd.to_datetime(delivered_orders['order_purchase_timestamp'])
/var/folders/yf/53d25rm10gq_l7wdtlp_205w0000gn/T/ipykernel_84018/3855598109.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_delivered_customer_date'] = pd.to_datetime(delivered_orders['order_delivered_customer_date'])
/var/folders/yf/53d25rm10gq_l7wdtlp_205w0000gn/T/ipykernel_84018/3855598109.py:6: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_estimated_delivery_date'] = pd.to_datetime(delivered_orders['order_estimated_delivery_date'])
/var/folders/yf/53d25rm10gq_l7wdtlp_205w0000gn/T/ipykernel_84018/3855598109.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['wait_time']=delivered_orders['order_delivered_customer_date'] - \
/var/folders/yf/53d25rm10gq_l7wdtlp_205w0000gn/T/ipykernel_84018/3855598109.py:9: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['expected_wait_time']=delivered_orders['order_estimated_delivery_date'] - \
/var/folders/yf/53d25rm10gq_l7wdtlp_205w0000gn/T/ipykernel_84018/3855598109.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['delay_vs_expected'] = [delivered_orders.wait_time[i] - delivered_orders.expected_wait_time[i]\

In [ ]:
delivered_orders.head(10)

üëÄ Check the dataframe you've just created. <br/> 

üí™ When your code works, commit it to `olist/order.py` <br/>

üß™ Now, test it by running the following cell üëá

In [15]:
# Test your code here
from olist.order import Order
Order().get_wait_time().head(50)

/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_purchase_timestamp'] = pd.to_datetime(delivered_orders['order_purchase_timestamp'])
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_delivered_customer_date'] = pd.to_datetime(delivered_orders['order_delivered_customer_date'])
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_estimated_delivery_date'] = pd.to_datetime(delivered_orders['order_estimated_delivery_date'])
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['wait_time']=(delivered_orders['order_delivered_customer_date'] - \
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['expected_wait_time']=(delivered_orders['order_estimated_delivery_date'] - \
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['delay_vs_expected'] = [(delivered_orders.wait_time[i] - delivered_orders.expected_wait_time[i])\

,order_id,order_status,wait_time,expected_wait_time,delay_vs_expected
0,e481f51cbdc54678b7cc49136f2d6af7,delivered,8.436574,15.544063,0.000000
1,53cdb2fc8bc7dce0b6741e2150273451,delivered,13.782037,19.137766,0.000000
2,47770eb9100c2d0c44946d9cf07ec65d,delivered,9.394213,26.639711,0.000000
3,949d5b44dbf5de918fe9c16f97b45f8a,delivered,13.208750,26.188819,0.000000
4,ad21c59c0840e6cb83a9ceb5573f8159,delivered,2.873877,12.112049,0.000000
5,a4591c265e18cb1dcee52889e2d8acc3,delivered,16.542245,22.085359,0.000000
7,6514b8ad8028c9f2cc2374ded245783f,delivered,9.989826,21.451042,0.000000
8,76c6e866289321a7c93b82b54852dc33,delivered,9.818762,41.229757,0.000000
9,e69bfb5eb88e0ed6a785585b27e16dbf,delivered,18.221852,24.503449,0.000000
10,e6ce16cb79ec1d90b1da9085a6118aeb,delivered,12.650937,21.179745,0.000000
11,34513ce0c4fab462a55830c0989c7edb,delivered,5.754595,25.167928,0.000000
12,82566a660a982b15fb86e904c8d32918,delivered,12.083021,40.578947,0.000000
13,5ff96c15d0b717ac6ad1f3d77225a350,delivered,4.922396,13.260995,0.000000
14,432aaf21d85167c2c86ec9448c4e42cc,delivered,11.390255,19.406620,0.000000
15,dcb36b511fcac050b97cd5c05de84dc3,delivered,13.855093,26.206111,0.000000
16,403b97836b0c04a622354cf531062e5f,delivered,17.276574,34.207836,0.000000
17,116f0b09343b49556bbad5f35bee0cdf,delivered,12.954919,33.012836,0.000000
18,85ce859fd6dc634de8d2f1e290444043,delivered,6.766887,19.997442,0.000000
19,83018ec114eee8641c97e08f7b4e926f,delivered,13.269144,27.337199,0.000000
20,203096f03d82e0dffbc41ebc2e2bcfb7,delivered,21.327963,9.394792,11.933171
21,f848643eec1d69395095eb3840d2051e,delivered,4.386019,13.630093,0.000000
22,2807d0e504d6d4894d41672727bc139f,delivered,4.816794,17.140567,0.000000
23,95266dbfb7e20354baba07964dac78d5,delivered,18.400799,43.669803,0.000000
24,f3e7c359154d965827355f39d6b1fdac,delivered,4.277627,7.510648,0.000000
25,fbf9ac61453ac646ce8ad9783d7d0af6,delivered,28.928484,19.009109,9.919375
26,acce194856392f074dbf9dada14d8d82,delivered,12.639375,43.999850,0.000000
27,dd78f560c270f1909639c11b925620ea,delivered,9.535694,15.923310,0.000000
28,91b2a010e1e45e6ba3d133fa997597be,delivered,14.382477,20.509977,0.000000
29,ecab90c9933c58908d3d6add7c6f5ae3,delivered,30.401898,46.423264,0.000000
30,f70a0aff17df5a6cdd9a7196128bd354,delivered,8.103808,12.501007,0.000000
31,1790eea0b567cf50911c057cf20f90f9,delivered,18.633970,28.114132,0.000000
32,989225ba6d0ebd5873335f7e01de2ae7,delivered,22.171898,26.419398,0.000000
33,d887b52c6516beb39e8cd44a5f8b60f7,delivered,18.478437,31.472940,0.000000
34,b276e4f8c0fb86bd82fce576f21713e0,delivered,1.968044,7.017465,0.000000
35,8563039e855156e48fccee4d611a3196,delivered,30.374757,30.333495,0.041262
36,60550084e6b4c0cb89a87df1f3e5ebd9,delivered,20.238553,35.239444,0.000000
37,5acce57f8d9dfd55fa48e212a641a69d,delivered,7.991331,21.099190,0.000000
38,434d158e96bdd6972ad6e6d73ddcfd22,delivered,17.381701,45.483877,0.000000
39,7206b86ea789983f7a273ea7fa0bc2a8,delivered,10.207639,16.283125,0.000000
40,1e7aff52cdbb2451ace09d0f848c3699,delivered,11.795208,23.212731,0.000000
41,6ea2f835b4556291ffdc53fa0b3b95e8,delivered,33.896933,26.105694,7.791238
42,948097deef559c742e7ce321e5e58919,delivered,7.873623,27.284271,0.000000
43,d22e9fa5731b9e30e8b27afcdc2f8563,delivered,9.006389,39.023958,0.000000
45,6ebaec694d7025e2ad4a05dba887c032,delivered,10.952465,21.419595,0.000000
46,d17dc4a904426827ca80f2ccb3a6be56,delivered,10.532014,28.146933,0.000000
47,25f4376934e13d3508486352e11a5db0,delivered,3.932639,7.292234,0.000000
48,5820a1100976432c7968a52da59e9364,delivered,4.447847,14.524803,0.000000
49,2ce1ad82022c1ba30c2079502ac725aa,delivered,6.873368,21.153414,0.000000
50,138849fd84dff2fb4ca70a0a34c4aa1c,delivered,12.985880,21.415058,0.000000
51,47aa4816b27ba60ec948cd019cc1afc1,delivered,7.204792,23.428565,0.000000

In [ ]:
from nbresult import ChallengeResult
result = ChallengeResult('wait_time', shape=Order().get_wait_time().shape)
result.write(); print(result.check())

### b) `get_review_score`
     ‚ùì Returns a DataFrame with:
        order_id, dim_is_five_star, dim_is_one_star, review_score

dim_is_xxx should contain `1` if true and `0` if false 

<details>
    <summary markdown='span'>Hints</summary>

Think about `Series.map()` or `DataFrame.apply()`
    
</details>

üëâ We load the `reviews` for you

‚ùì Feel free to complete and use the two functions below to create your new columns `dim_is_five_star` and `dim_is_one_star` in a clean manner

In [ ]:
def dim_five_star(d):
    reviews = data['order_reviews']
    reviews['dim_is_five_star'] = [1 if reviews.review_score[i] == 5 else 0 for i in reviews.index]
    return reviews

def dim_one_star(d):
    reviews = data['order_reviews']
    reviews['dim_is_one_star'] = [1 if reviews.review_score[i] == 1 else 0 for i in reviews.index]
    return reviews

Once again, 

üëÄ Check the dataframe you've just created. <br/> 

üí™ When your code works, commit it to `olist/order.py` <br/>

üß™ Now, test it by running the following cell üëá

In [145]:
# Test your code here
from olist.order import Order
Order().get_review_score()

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99219,2a8c23fee101d4d5662fa670396eb8da,1,0,5
99220,22ec9f0669f784db00fa86d035cf8602,1,0,5
99221,55d4004744368f5571d1f590031933e4,1,0,5
99222,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99223,90531360ecb1eec2a1fbb265a0db0508,0,1,1

In [10]:
from nbresult import ChallengeResult
result = ChallengeResult('review_score', shape=Order().get_review_score().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.8.12, pytest-6.2.5, py-1.11.0, pluggy-1.0.0 -- /Users/humbert/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders
plugins: anyio-3.4.0, dash-2.0.0
collecting ... collected 1 item

tests/test_review_score.py::TestReviewScore::test_review_score PASSED    [100%]

============================== 1 passed in 0.01s ===============================


üíØ You can commit your code:

git add tests/review_score.pickle

git commit -m 'Completed review_score step'

git push origin master

### c) `get_number_products`:
     ‚ùì Returns a DataFrame with:
        order_id, number_of_products (total number of products per order)

In [26]:
# YOUR CODE HERE
nb_product = data['order_items'].groupby('order_id', as_index = False).count()[['order_id','order_item_id']]
nb_product.columns = ['order_id','number_of_products']
nb_product

                               order_id  number_of_products
0      00010242fe8c5a6d1ba2dd792cb16214                   1
1      00018f77f2f0320c557190d7a144bdd3                   1
2      000229ec398224ef6ca0657da4fc703e                   1
3      00024acbcdf0a6daa1e931b038114c75                   1
4      00042b26cf59d7ce69dfabb4e55b4fd9                   1
...                                 ...                 ...
98661  fffc94f6ce00a00581880bf54a75a037                   1
98662  fffcd46ef2263f404302a634eb57f7eb                   1
98663  fffce4705a9662cd70adb13d4a31832d                   1
98664  fffe18544ffabc95dfada21779c9644f                   1
98665  fffe41c64501cc87c801fd61db3f6244                   1

[98666 rows x 2 columns]

üß™ Same routine: 
* check your dataframe, 
* commit your code to `olist/order.py`
* and check that it truly works.

In [27]:
from nbresult import ChallengeResult
result = ChallengeResult('number_products', shape=Order().get_number_products().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.8.12, pytest-6.2.5, py-1.11.0, pluggy-1.0.0 -- /Users/humbert/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders
plugins: anyio-3.4.0, dash-2.0.0
collecting ... collected 1 item

tests/test_number_products.py::TestNumberProducts::test_review_score PASSED [100%]

============================== 1 passed in 0.01s ===============================


üíØ You can commit your code:

git add tests/number_products.pickle

git commit -m 'Completed number_products step'

git push origin master

### d) `get_number_sellers`:
     ‚ùì Returns a DataFrame with:
        order_id, number_of_sellers (total number of unique sellers per order)
        
<details>
    <summary>‚ñ∏ <i>Hint</i></summary>

`pd.Series.nunique()`
</details>

In [33]:
# YOUR CODE HERE
data['order_items'].groupby('order_id', as_index = False).nunique().head(50)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,1,1,1,1,1
1,00018f77f2f0320c557190d7a144bdd3,1,1,1,1,1,1
2,000229ec398224ef6ca0657da4fc703e,1,1,1,1,1,1
3,00024acbcdf0a6daa1e931b038114c75,1,1,1,1,1,1
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,1,1,1,1,1
5,00048cc3ae777c65dbb7d2a0634bc1ea,1,1,1,1,1,1
6,00054e8431b9d7675808bcb819fb4a32,1,1,1,1,1,1
7,000576fe39319847cbb9d288c5617fa6,1,1,1,1,1,1
8,0005a1a1728c9d785b8e2b08b904576c,1,1,1,1,1,1
9,0005f50442cb953dcd1d21e1fb923495,1,1,1,1,1,1
10,00061f2a7bc09da83e415a52dc8a4af1,1,1,1,1,1,1
11,00063b381e2406b52ad429470734ebd5,1,1,1,1,1,1
12,0006ec9db01a64e59a68b2c340bf65a7,1,1,1,1,1,1
13,0008288aa423d2a3f00fcb17cd7d8719,2,1,1,1,1,1
14,0009792311464db532ff765bf7b182ae,1,1,1,1,1,1
15,0009c9a17f916a706d71784483a5d643,1,1,1,1,1,1
16,000aed2e25dbad2f9ddb70584c5a2ded,1,1,1,1,1,1
17,000c3e6612759851cc3cbb4b83257986,1,1,1,1,1,1
18,000e562887b1f2006d75e0be9558292e,1,1,1,1,1,1
19,000e63d38ae8c00bbcb5a30573b99628,1,1,1,1,1,1
20,000e906b789b55f64edcb1f84030f90d,1,1,1,1,1,1
21,000f25f4d72195062c040b12dce9a18a,1,1,1,1,1,1
22,001021efaa8636c29475e7734483457d,1,1,1,1,1,1
23,0010b2e5201cc5f1ae7e9c6cc8f5bd00,1,1,1,1,1,1
24,00119ff934e539cf26f92b9ef0cdfed8,1,1,1,1,1,1
25,0011d82c4b53e22e84023405fb467e57,1,1,1,1,1,1
26,00125cb692d04887809806618a2a145f,1,1,1,1,1,1
27,00130c0eee84a3d909e75bc08c5c3ca1,1,1,1,1,1,1
28,0013503b13da1eac686219390b7d641b,1,1,1,1,1,1
29,00137e170939bba5a3134e2386413108,1,1,1,1,1,1
30,001427c0ec99cf8af737bd88e92fd444,1,1,1,1,1,1
31,00143d0f86d6fbd9f9b38ab440ac16f5,3,1,1,1,1,1
32,0014ae671de39511f7575066200733b7,1,1,1,1,1,1
33,0015ebb40fb17286bea51d4607c4733c,1,1,1,1,1,1
34,00169e31ef4b29deaae414f9a5e95929,1,1,1,1,1,1
35,0016dfedd97fc2950e388d2971d718c7,1,1,1,1,1,1
36,0017afd5076e074a48f1f1a4c7bac9c5,1,1,1,1,1,1
37,001862358bf858722e1e2ae000cfed8b,1,1,1,1,1,1
38,0019c29108428acffd089c36103c9440,1,1,1,1,1,1
39,001ab0a7578dd66cd4b0a71f5b6e1e41,3,1,1,1,1,1
40,001ac194d4a326a6fa99b581e9a3d963,1,1,1,1,1,1
41,001b76dd48a5b1eee3e87778daa40df8,1,1,1,1,1,1
42,001c85b5f68d2be0cb0797afc9e8ce9a,1,1,1,1,1,1
43,001d8f0e34a38c37f7dba2a37d4eba8b,2,1,1,1,1,1
44,001daeb0eddc45b999bad0801ad9d273,1,1,1,1,1,1
45,001dbc16dc51075e987543d23a0507c7,1,1,1,1,1,1
46,001e7ba991be1b19605ca0316e7130f9,1,1,1,1,1,1
47,001e7cf2ad6bef3ade12ebc56ceaf0f3,1,1,1,1,1,1
48,0020262c8a370bd5a174ea6a2a267321,1,1,1,1,1,1
49,0020a222f55eb79a372d0efee3cca688,1,1,1,1,1,1

In [34]:
data['order_items'].head(50)

,order_id,order_item_id,product_id,seller_id,shipping_limit_date,price,freight_value
0,00010242fe8c5a6d1ba2dd792cb16214,1,4244733e06e7ecb4970a6e2683c13e61,48436dade18ac8b2bce089ec2a041202,2017-09-19 09:45:35,58.90,13.29
1,00018f77f2f0320c557190d7a144bdd3,1,e5f2d52b802189ee658865ca93d83a8f,dd7ddc04e1b6c2c614352b383efe2d36,2017-05-03 11:05:13,239.90,19.93
2,000229ec398224ef6ca0657da4fc703e,1,c777355d18b72b67abbeef9df44fd0fd,5b51032eddd242adc84c38acab88f23d,2018-01-18 14:48:30,199.00,17.87
3,00024acbcdf0a6daa1e931b038114c75,1,7634da152a4610f1595efa32f14722fc,9d7a1d34a5052409006425275ba1c2b4,2018-08-15 10:10:18,12.99,12.79
4,00042b26cf59d7ce69dfabb4e55b4fd9,1,ac6c3623068f30de03045865e4e10089,df560393f3a51e74553ab94004ba5c87,2017-02-13 13:57:51,199.90,18.14
5,00048cc3ae777c65dbb7d2a0634bc1ea,1,ef92defde845ab8450f9d70c526ef70f,6426d21aca402a131fc0a5d0960a3c90,2017-05-23 03:55:27,21.90,12.69
6,00054e8431b9d7675808bcb819fb4a32,1,8d4f2bb7e93e6710a28f34fa83ee7d28,7040e82f899a04d1b434b795a43b4617,2017-12-14 12:10:31,19.90,11.85
7,000576fe39319847cbb9d288c5617fa6,1,557d850972a7d6f792fd18ae1400d9b6,5996cddab893a4652a15592fb58ab8db,2018-07-10 12:30:45,810.00,70.75
8,0005a1a1728c9d785b8e2b08b904576c,1,310ae3c140ff94b03219ad0adc3c778f,a416b6a846a11724393025641d4edd5e,2018-03-26 18:31:29,145.95,11.65
9,0005f50442cb953dcd1d21e1fb923495,1,4535b0e1091c278dfd193e5a1d63b39f,ba143b05f0110f0dc71ad71b4466ce92,2018-07-06 14:10:56,53.99,11.40
10,00061f2a7bc09da83e415a52dc8a4af1,1,d63c1011f49d98b976c352955b1c4bea,cc419e0650a3c5ba77189a1882b7556a,2018-03-29 22:28:09,59.99,8.88
11,00063b381e2406b52ad429470734ebd5,1,f177554ea93259a5b282f24e33f65ab6,8602a61d680a10a82cceeeda0d99ea3d,2018-07-31 17:30:39,45.00,12.98
12,0006ec9db01a64e59a68b2c340bf65a7,1,99a4788cb24856965c36a24e339b6058,4a3ca9315b744ce9f8e9374361493884,2018-07-26 17:24:20,74.00,23.32
13,0008288aa423d2a3f00fcb17cd7d8719,1,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.90,13.37
14,0008288aa423d2a3f00fcb17cd7d8719,2,368c6c730842d78016ad823897a372db,1f50f920176fa81dab994f9023523100,2018-02-21 02:55:52,49.90,13.37
15,0009792311464db532ff765bf7b182ae,1,8cab8abac59158715e0d70a36c807415,530ec6109d11eaaf87999465c6afee01,2018-08-17 12:15:10,99.90,27.65
16,0009c9a17f916a706d71784483a5d643,1,3f27ac8e699df3d300ec4a5d8c5cf0b2,fcb5ace8bcc92f75707dc0f01a27d269,2018-05-02 09:31:53,639.00,11.34
17,000aed2e25dbad2f9ddb70584c5a2ded,1,4fa33915031a8cde03dd0d3e8fb27f01,fe2032dab1a61af8794248c8196565c9,2018-05-16 20:57:03,144.00,8.77
18,000c3e6612759851cc3cbb4b83257986,1,b50c950aba0dcead2c48032a690ce817,218d46b86c1881d022bce9c68a7d4b15,2017-08-21 03:33:13,99.00,13.71
19,000e562887b1f2006d75e0be9558292e,1,5ed9eaf534f6936b51d0b6c5e4d5c2e9,8cbac7e12637ed9cffa18c7875207478,2018-02-28 12:08:37,25.00,16.11
20,000e63d38ae8c00bbcb5a30573b99628,1,553e0e7590d3116a072507a3635d2877,1c129092bf23f28a5930387c980c0dfc,2018-03-29 20:07:49,47.90,8.88
21,000e906b789b55f64edcb1f84030f90d,1,57d79905de06d8897872c551bfd09358,ea8482cd71df3c1969d7b9473ff13abc,2017-11-27 19:09:02,21.99,11.85
22,000f25f4d72195062c040b12dce9a18a,1,1c05e0964302b6cf68ca0d15f326c6ba,7c67e1448b00f6e969d365cea6b010ab,2018-03-21 11:10:11,119.99,44.40
23,001021efaa8636c29475e7734483457d,1,5d7c23067ed3fc8c6e699b9373d5890b,6560211a19b47992c3666cc44a7e94c0,2018-03-05 09:35:41,49.00,15.10
24,0010b2e5201cc5f1ae7e9c6cc8f5bd00,1,5a419dbf24a8c9718fe522b81c69f61a,3504c0cb71d7fa48d967e0e4c94d59d9,2017-09-15 18:04:37,48.90,16.60
25,00119ff934e539cf26f92b9ef0cdfed8,1,21b1c2f67a9aafb5af0eb06c13b9dbda,c864036feaab8c1659f65ea4faebe1da,2017-08-11 00:35:12,219.90,16.98
26,0011d82c4b53e22e84023405fb467e57,1,c389f712c4b4510bc997cee93e8b1a28,bfd27a966d91cfaafdb25d076585f0da,2018-01-29 21:51:25,289.00,26.33
27,00125cb692d04887809806618a2a145f,1,1c0c0093a48f13ba70d0c6b0a9157cb7,41b39e28db005d9731d9d485a83b4c38,2017-03-29 13:05:42,109.90,25.51
28,00130c0eee84a3d909e75bc08c5c3ca1,1,89321f94e35fc6d7903d36f74e351d40,16090f2ca825584b5a147ab24aa30c86,2018-06-14 05:16:24,27.90,7.94
29,0013503b13da1eac686219390b7d641b,1,38afdf723b95d455b418a0f57d623c6b,1554a68530182680ad5c8b042c3ab563,2017-12-13 03:16:36,119.90,17.32
30,00137e170939bba5a3134e2386413108,1,672e757f331900b9deea127a2a7b79fd,e59aa562b9f8076dd550fcddf0e73491,2017-11-30 06:30:55,397.00,24.65
31,001427c0ec99cf8af737bd88e92fd444,1,28b4eced95a52d9c437a4caf9d311b95,77530e9772f57a62c906e1c21538ab82,2018-04-12 19:08:28,59.90,23.35
32,00143d0f86d6fbd9f9b38ab440ac16f5,1,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
33,00143d0f86d6fbd9f9b38ab440ac16f5,2,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
34,00143d0f86d6fbd9f9b38ab440ac16f5,3,e95ee6822b66ac6058e2e4aff656071a,a17f621c590ea0fab3d5d883e1630ec6,2017-10-20 16:07:52,21.33,15.10
35,0014ae671de39511f7575066200733b7,1,23365beed316535b4105bd800c46670e,92eb0f42c21942b6552362b9b114707d,2017-05-29 03:15:24,16.50,14.10
36,0015ebb40fb17286bea51d4607c4733c,1,50fd2b788dc166edd20512370dac54df,8b321bb669392f5163d04c59e235e066,2018-01-18 09:11:24,21.90,15.10
37,00169e31ef4b29deaae414f9a5e95929,1,b10eba910a974df70b8a12d0665cdb9e,a3e9a2c700480d9bb01fba070ba80a0e,2018-01-23 03:35:47,39.00,16.11
38,0016dfedd97fc2950e388d2971d718c7,1,4089861a1bd4685da70bddd6b4f974f1,a35124e2d763d7ca3fbe3b97d143200f,2017-05-05 10:05:12,49.75,20.80
39,0017afd5076e074a48f1f1a4c7bac9c5,1,fe59a1e006df3ac42bf0ceb876d70969,25c5c91f63607446a97b143d2d535d31,2017-04-24 22:25:19,809.10,44.29
40,001862358bf858722e1e2ae000cfed8b,1,c6dd917a0be2a704582055949915ab32,7a67c85e85bb2ce8582c35f2203ad736,2018-02-13 19:10:37,99.99,13.72
41,0019c29108428acffd089c36103c9440,1,28b4eced95a52d9c437a4caf9d311b95,77530e9772f57a62c906e1c21538ab82,2018-03-12 06:50:26,59.90,19.95
42,001ab0a7578dd66cd4b0a71f5b6e1e41,1,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
43,001ab0a7578dd66cd4b0a71f5b6e1e41,2,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
44,001ab0a7578dd66cd4b0a71f5b6e1e41,3,0b0172eb0fd18479d29c3bc122c058c2,5656537e588803a555b8eb41f07a944b,2018-01-04 02:33:42,24.89,17.63
45,001ac194d4a326a6fa99b581e9a3d963,1,dbaee28f4ee64465838a229582d77520,ffc470761de7d0232558ba5e786e57b7,2018-07-10 02:51:10,54.00,8.54
46,001b76dd48a5b1eee3e87778daa40df8,1,dbb67791e405873b259e4656bf971246,9c0e69c7bf2619675bbadf47b43f655a,2018-04-02 17:50:17,81.99,13.01
47,001c85b5f68d2be0cb0797afc9e8ce9a,1,84f456958365164420cfc80fbe4c7fab,4a3ca9315b744ce9f8e9374361493884,2017-11-29 22:38:47,99.00,13.71
48,001d8f0e34a38c37f7dba2a37d4eba8b,1,e67307ff0f15ade43fcb6e670be7a74c,f4aba7c0bca51484c30ab7bdc34bcdd1,2017-05-18 17:35:11,18.99,7.78
49,001d8f0e34a38c37f7dba2a37d4eba8b,2,e67307ff0f15ade43fcb6e670be7a74c,f4aba7c0bca51484c30ab7bdc34bcdd1,2017-05-18 17:35:11,18.99,7.78

In [36]:
from nbresult import ChallengeResult
result = ChallengeResult('number_sellers', shape=Order().get_number_sellers().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.8.12, pytest-6.2.5, py-1.11.0, pluggy-1.0.0 -- /Users/humbert/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders
plugins: anyio-3.4.0, dash-2.0.0
collecting ... collected 1 item

tests/test_number_sellers.py::TestNumberSellers::test_number_seller PASSED [100%]

============================== 1 passed in 0.01s ===============================


üíØ You can commit your code:

git add tests/number_sellers.pickle

git commit -m 'Completed number_sellers step'

git push origin master

### e) `get_price_and_freight`
     Returns a DataFrame with:
        order_id, price, freight_value

<details>
    <summary>‚ñ∏ <i>Hint</i></summary>

`pd.Series.agg()` allows you to apply one transformation method per column of your groupby object
</details>

In [45]:
# YOUR CODE HERE
#data['order_payments'].head(20)
data['order_items'].groupby('order_id', as_index = False).sum()[['order_id', 'price', 'freight_value']]

                               order_id   price  freight_value
0      00010242fe8c5a6d1ba2dd792cb16214   58.90          13.29
1      00018f77f2f0320c557190d7a144bdd3  239.90          19.93
2      000229ec398224ef6ca0657da4fc703e  199.00          17.87
3      00024acbcdf0a6daa1e931b038114c75   12.99          12.79
4      00042b26cf59d7ce69dfabb4e55b4fd9  199.90          18.14
...                                 ...     ...            ...
98661  fffc94f6ce00a00581880bf54a75a037  299.99          43.41
98662  fffcd46ef2263f404302a634eb57f7eb  350.00          36.53
98663  fffce4705a9662cd70adb13d4a31832d   99.90          16.95
98664  fffe18544ffabc95dfada21779c9644f   55.99           8.72
98665  fffe41c64501cc87c801fd61db3f6244   43.00          12.79

[98666 rows x 3 columns]

In [46]:
from nbresult import ChallengeResult
result = ChallengeResult('price', shape=Order().get_price_and_freight().shape)
result.write(); print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.8.12, pytest-6.2.5, py-1.11.0, pluggy-1.0.0 -- /Users/humbert/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders
plugins: anyio-3.4.0, dash-2.0.0
collecting ... collected 1 item

tests/test_price.py::TestPrice::test_price PASSED                        [100%]

============================== 1 passed in 0.01s ===============================


üíØ You can commit your code:

git add tests/price.pickle

git commit -m 'Completed price step'

git push origin master

### e) [OPTIONAL] `get_distance_seller_customer` 
**(Try  to code this function only after finishing today's challenges - Skip to next section)**

    ‚ùì Returns a Dataframe with:
        order_id, distance_seller_customer (the distance in km between customer and seller)

üí°Have a look at the `haversine_distance` formula we coded for you in the `olist.utils` module

In [98]:
from olist.utils import haversine_distance

In [99]:
haversine_distance(-22.496953, -44.127492, -21.762775, -41.309633)

319.016437123815

In [127]:
#location = data["geolocation"].groupby('zip_code_prefix', as_index = False).mean()
data["geolocation"]

,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng,geolocation_city,geolocation_state
0,1037,-23.545621,-46.639292,sao paulo,SP
1,1046,-23.546081,-46.644820,sao paulo,SP
2,1046,-23.546129,-46.642951,sao paulo,SP
3,1041,-23.544392,-46.639499,sao paulo,SP
4,1035,-23.541578,-46.641607,sao paulo,SP
...,...,...,...,...,...
1000158,99950,-28.068639,-52.010705,tapejara,RS
1000159,99900,-27.877125,-52.224882,getulio vargas,RS
1000160,99950,-28.071855,-52.014716,tapejara,RS
1000161,99980,-28.388932,-51.846871,david canabarro,RS
1000162,99950,-28.070104,-52.018658,tapejara,RS

In [123]:
seller_zip = data['order_items'].merge(data['orders'], on = "order_id").merge(data['sellers'], on = "seller_id")[['order_id', 'seller_id', 'seller_zip_code_prefix']]

seller_zip.columns = ['order_id','seller_id','geolocation_zip_code_prefix']
seller_zip = seller_zip.merge(location, on = 'geolocation_zip_code_prefix')

seller_zip.drop_duplicates(subset =["order_id","seller_id"], keep = 'first', inplace=True)

customer_zip = data['order_items'].merge(data['orders'], on = "order_id").merge(data['customers'], on = "customer_id")[['order_id', 'customer_id', 'customer_zip_code_prefix']]

customer_zip.columns = ['order_id','customer_id', 'geolocation_zip_code_prefix']
customer_zip = customer_zip.merge(location, on = 'geolocation_zip_code_prefix')

customer_zip.drop_duplicates(subset =["order_id","customer_id"], keep = 'first', inplace=True)

coord_orders = seller_zip.merge(customer_zip, on = 'order_id', how = 'inner')

coord_orders['distance_seller_customer'] = [haversine_distance( \
                        coord_orders.geolocation_lng_x[i], coord_orders.geolocation_lat_x[i], \
                        coord_orders.geolocation_lng_y[i], coord_orders.geolocation_lat_y[i]) \
                           for i in coord_orders.index]
coord_orders = coord_orders[['order_id', 'distance_seller_customer']]

coord_orders.groupby('order_id', as_index=False).mean()

coord_orders

,order_id,seller_id,geolocation_zip_code_prefix,geolocation_lat,geolocation_lng
0,00010242fe8c5a6d1ba2dd792cb16214,48436dade18ac8b2bce089ec2a041202,27277,-22.496953,-44.127492
1,0188777fe321843a18be24a6e9aa1e53,48436dade18ac8b2bce089ec2a041202,27277,-22.496953,-44.127492
2,0191bbb5166d4b9a68df11797d5acfa9,48436dade18ac8b2bce089ec2a041202,27277,-22.496953,-44.127492
3,03054d8a8eefc2981cfad06f58e27979,48436dade18ac8b2bce089ec2a041202,27277,-22.496953,-44.127492
4,0c325ea6925de749e1420be0cf43587c,48436dade18ac8b2bce089ec2a041202,27277,-22.496953,-44.127492
...,...,...,...,...,...
112390,fa8af66ee11f929d58f95e9a0522d792,cad10cc982ab6a391570c211b995c17c,18701,-23.103845,-48.914191
112391,fc3078fa5d882e59237a658341f57738,b57e8460909fa137df7951b4a3b5ea84,90640,-30.052808,-51.203499
112393,fcb25cc2887d15b5373673a0630ad13a,749e7cdabbaf72f16677859e27874ba5,7122,-23.448746,-46.517988
112394,fdfeec75aa07c1d2a88b17b8fbfc7b8f,dbc51f5e45d654ecc16cb68e6817ecea,14402,-20.523653,-47.364272
112395,ff701a7c869ad21de22a6994237c8a00,3e35a8bb43569389d3cebef0ce820f69,3124,-23.570997,-46.590967

üëÄ Check your new dataframe and commit your code to olist/order.py when it works.

In [ ]:
# YOUR CODE HERE

üß™  Test your code

In [128]:
from nbresult import ChallengeResult

result = ChallengeResult('distance',
    mean = Order().get_distance_seller_customer()['distance_seller_customer'].mean())
result.write()
print(result.check())

============================= test session starts ==============================
platform darwin -- Python 3.8.12, pytest-6.2.5, py-1.11.0, pluggy-1.0.0 -- /Users/humbert/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders
plugins: anyio-3.4.0, dash-2.0.0
collecting ... collected 1 item

tests/test_distance.py::TestDistance::test_distance PASSED               [100%]

============================== 1 passed in 0.14s ===============================


üíØ You can commit your code:

git add tests/distance.pickle

git commit -m 'Completed distance step'

git push origin master

## 2. All at once: `get_training_data`

‚ùì Time to code `get_training_data` making use of your previous coded methods, to gather all order features in one table

In [146]:
# YOUR CODE HERE
df1 = Order().get_wait_time()
df2 = Order().get_review_score()
df3 = Order().get_number_products()
df4 = Order().get_number_sellers()
df5 = Order().get_price_and_freight()

/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_purchase_timestamp'] = pd.to_datetime(delivered_orders['order_purchase_timestamp'])
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_delivered_customer_date'] = pd.to_datetime(delivered_orders['order_delivered_customer_date'])
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_estimated_delivery_date'] = pd.to_datetime(delivered_orders['order_estimated_delivery_date'])
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['wait_time']=delivered_orders['order_delivered_customer_date'] - \
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['expected_wait_time']=delivered_orders['order_estimated_delivery_date'] - \
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['delay_vs_expected'] = [delivered_orders.wait_time[i] - delivered_orders.expected_wait_time[i]\

In [147]:
training_data = df1.merge(df2, on ='order_id').merge(df3, on ='order_id')

,order_id,dim_is_five_star,dim_is_one_star,review_score
0,73fc7af87114b39712e6da79b0a377eb,0,0,4
1,a548910a1c6147796b98fdf73dbeba33,1,0,5
2,f9e4b658b201a9f2ecdecbb34bed034b,1,0,5
3,658677c97b385a9be170737859d3511b,1,0,5
4,8e6bfb81e283fa7e4f11123a3fb894f1,1,0,5
...,...,...,...,...
99219,2a8c23fee101d4d5662fa670396eb8da,1,0,5
99220,22ec9f0669f784db00fa86d035cf8602,1,0,5
99221,55d4004744368f5571d1f590031933e4,1,0,5
99222,7725825d039fc1f0ceb7635e3f7d9206,0,0,4
99223,90531360ecb1eec2a1fbb265a0db0508,0,1,1

üß™  Test it below

In [16]:
from nbresult import ChallengeResult
from olist.order import Order
data = Order().get_training_data()

result = ChallengeResult('training',
    shape=data.shape,
    columns=sorted(list(data.columns))
)
result.write()
print(result.check())

/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:25: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_purchase_timestamp'] = pd.to_datetime(delivered_orders['order_purchase_timestamp'])
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:26: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_delivered_customer_date'] = pd.to_datetime(delivered_orders['order_delivered_customer_date'])
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:27: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['order_estimated_delivery_date'] = pd.to_datetime(delivered_orders['order_estimated_delivery_date'])
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:28: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['wait_time']=(delivered_orders['order_delivered_customer_date'] - \
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['expected_wait_time']=(delivered_orders['order_estimated_delivery_date'] - \
/Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/olist/order.py:33: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  delivered_orders['delay_vs_expected'] = [(delivered_orders.wait_time[i] - delivered_orders.expected_wait_time[i])\

============================= test session starts ==============================
platform darwin -- Python 3.8.12, pytest-6.2.5, py-1.11.0, pluggy-1.0.0 -- /Users/humbert/.pyenv/versions/lewagon/bin/python3
cachedir: .pytest_cache
rootdir: /Users/humbert/code/HumbertMonnot/data-challenges/04-Decision-Science/02-Statistical-Inference/01-Orders
plugins: anyio-3.4.0, dash-2.0.0
collecting ... collected 2 items

tests/test_training.py::TestTraining::test_training_data_columns PASSED  [ 50%]
tests/test_training.py::TestTraining::test_training_data_shape PASSED    [100%]

============================== 2 passed in 0.03s ===============================


üíØ You can commit your code:

git add tests/training.pickle

git commit -m 'Completed training step'

git push origin master

üèÅ Congratulations! 

üíæ Commit and push your notebook before starting the next challenge.