# Bubble Map Visualization

## Setup

- **The Dataset**: let's analyze from a graphical point of view this [Kaggle Dataset](https://www.kaggle.com/datafiniti/fast-food-restaurants) about fast food restaurants.

- **A new library**: during this exercise, we will learn how to manipulate: `Plotly`, a very powerful graphics librarry! Let's install it :  https://pypi.org/project/plotly-express/

Once it's done, let's import the libraries we need: `numpy`, `pandas`, and `plotly`:

In [1]:
import numpy as np
import pandas as pd
import plotly.express as px

## Bubble Map 101

The goal of this exercise is to plot a bubble map of the `FastFoodRestaurants.csv`. 
Your challenge is to manage to get:
<br>
<img src="https://res.cloudinary.com/wagon/image/upload/v1571182044/Screenshot_2019-10-16_at_01.27.01_ptfplw.png" height="100%" width="100%">
Beautiful, isn't it? üôÇ

### Specs:

- A bubble should represent a `city`,
- A bubble should take into account the number of fastfood restaurants in the city,
- Should be zoomed on the U.S. map,
- When hovering on a bubble you should get the name of city,
- Set a relevant title for the graph.

*Here is the documentation of bubble maps üëâ https://plot.ly/python/bubble-maps/ enjoy!*

‚ö†Ô∏èThe dataset has the latitude & longitude of each restaurant, but we need the latitude & longitude of each city to plot our bubble map. To cope with this missing data, let's compute the latitude & longitude of each city on our own: assuming that the latitude & longitude of a city can be computed by averaging the latitude & longitude of all fastfood restaurants recorded in the city. 


------------------------------------------------------

In [2]:
# import the fast food dataset
ff_df = pd.read_csv('fast-food-restaurants/FastFoodRestaurants.csv')

# display the 5 first rows
ff_df.head(5)

,address,city,country,keys,latitude,longitude,name,postalCode,province,websites
0,324 Main St,Massena,US,us/ny/massena/324mainst/-1161002137,44.92130,-74.89021,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
1,530 Clinton Ave,Washington Court House,US,us/oh/washingtoncourthouse/530clintonave/-7914...,39.53255,-83.44526,Wendy's,43160,OH,http://www.wendys.com
2,408 Market Square Dr,Maysville,US,us/ky/maysville/408marketsquaredr/1051460804,38.62736,-83.79141,Frisch's Big Boy,41056,KY,"http://www.frischs.com,https://www.frischs.com..."
3,6098 State Highway 37,Massena,US,us/ny/massena/6098statehighway37/-1161002137,44.95008,-74.84553,McDonald's,13662,NY,"http://mcdonalds.com,http://www.mcdonalds.com/..."
4,139 Columbus Rd,Athens,US,us/oh/athens/139columbusrd/990890980,39.35155,-82.09728,OMG! Rotisserie,45701,OH,"http://www.omgrotisserie.com,http://omgrotisse..."

In [4]:
# Convert latitude and longitude columns to floats 
ff_df['latitude']= pd.to_numeric(ff_df['latitude'])
ff_df['longitude']= pd.to_numeric(ff_df['longitude'])

In [29]:
# Group by city
city = ff_df.groupby(['city'])

In [46]:
# aggregate the grouped DataFrame to have the count of restaurants per city and their average coordinates
count_df = city.count()['country']
coord_df = city.mean()
to_plot_df = pd.concat([count_df, coord_df], axis = 1)
to_plot_df

            country   latitude   longitude
city
Abbeville         2  29.980450  -92.118881
Aberdeen         18  45.061965 -104.615967
Abilene           3  34.603870  -98.901467
Abingdon          1  36.701430  -81.975120
Acton             1  42.468486  -71.456183
...             ...        ...         ...
Zachary           1  30.647280  -91.148850
Zanesville       12  39.955365  -82.019903
Zebulon           2  34.465989  -81.328820
Zion              1  42.455040  -87.824880
Zionsville        1  39.926328  -86.279043

[2775 rows x 3 columns]

In [ ]:
# YOUR MAP HERE

## Bubble Map with animation

How about plotting the evolution of fastfoods in the US?

The dataset `Datafiniti_Fast_Food_Restaurants.csv` has a `dateAdded` column, alright let's assume this Dataset is from UberEats database, and we want to see the evolution of fastfood restaurants available on UberEats app!
We want to have this: 
<br>
<img src="https://res.cloudinary.com/wagon/image/upload/v1571181969/bubble-maps-slider_m1kpac.png" height="100%" width="100%">
üëâThe slider should give the realtime evolution üôÇ - each bubble referring to a `restaurant`.

Let's plot this! üí™

In [ ]:
file = "fast-food-restaurants/Datafiniti_Fast_Food_Restaurants.csv"
restaurant_df = pd.read_csv(file, decimal=",")
restaurant_df.head(5)

,id,dateAdded,dateUpdated,address,categories,city,country,keys,latitude,longitude,name,postalCode,province,sourceURLs,websites
0,AVwcmSyZIN2L1WUfmxyw,2015-10-19T23:47:58Z,2018-06-26T03:00:14Z,800 N Canal Blvd,American Restaurant and Fast Food Restaurant,Thibodaux,US,us/la/thibodaux/800ncanalblvd/1780593795,29.814697,-90.814742,SONIC Drive In,70301,LA,https://foursquare.com/v/sonic-drive-in/4b7361...,https://locations.sonicdrivein.com/la/thibodau...
1,AVwcmSyZIN2L1WUfmxyw,2015-10-19T23:47:58Z,2018-06-26T03:00:14Z,800 N Canal Blvd,Fast Food Restaurants,Thibodaux,US,us/la/thibodaux/800ncanalblvd/1780593795,29.814697,-90.814742,SONIC Drive In,70301,LA,https://foursquare.com/v/sonic-drive-in/4b7361...,https://locations.sonicdrivein.com/la/thibodau...
2,AVwcopQoByjofQCxgfVa,2016-03-29T05:06:36Z,2018-06-26T02:59:52Z,206 Wears Valley Rd,Fast Food Restaurant,Pigeon Forge,US,us/tn/pigeonforge/206wearsvalleyrd/-864103396,35.803788,-83.580553,Taco Bell,37863,TN,https://www.yellowpages.com/pigeon-forge-tn/mi...,"http://www.tacobell.com,https://locations.taco..."
3,AVweXN5RByjofQCxxilK,2017-01-03T07:46:11Z,2018-06-26T02:59:51Z,3652 Parkway,Fast Food,Pigeon Forge,US,us/tn/pigeonforge/3652parkway/93075755,35.782339,-83.551408,Arby's,37863,TN,http://www.yellowbook.com/profile/arbys_163389...,"http://www.arbys.com,https://locations.arbys.c..."
4,AWQ6MUvo3-Khe5l_j3SG,2018-06-26T02:59:43Z,2018-06-26T02:59:43Z,2118 Mt Zion Parkway,Fast Food Restaurant,Morrow,US,us/ga/morrow/2118mtzionparkway/1305117222,33.562738,-84.321143,Steak 'n Shake,30260,GA,https://foursquare.com/v/steak-n-shake/4bcf77a...,http://www.steaknshake.com/locations/23851-ste...

In [ ]:
# format the `dateAdded` column to just include the year as an integer

In [ ]:
# YOUR MAP HERE