# Scatter Plots

In [ ]:
import numpy as np
import pandas as pd
import matplotlib
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns

In [10]:
gdp_df = pd.read_csv('4_ThreeNum.csv')
gdp_df.head()

       country continent  lifeExp       pop     gdpPercap
0  Afghanistan      Asia   43.828  31889923    974.580338
1      Albania    Europe   76.423   3600523   5937.029526
2      Algeria    Africa   72.301  33333216   6223.367465
3       Angola    Africa   42.731  12420476   4797.231267
4    Argentina  Americas   75.320  40301927  12779.379640

In [11]:
gdp_df.describe()

          lifeExp           pop     gdpPercap
count  142.000000  1.420000e+02    142.000000
mean    67.007423  4.402122e+07  11680.071820
std     12.073021  1.476214e+08  12859.937337
min     39.613000  1.995790e+05    277.551859
25%     57.160250  4.508034e+06   1624.842248
50%     71.935500  1.051753e+07   6124.371109
75%     76.413250  3.121004e+07  18008.835640
max     82.603000  1.318683e+09  49357.190170

## Part 1

In [ ]:
# YOUR PLOT HERE

## Part 2

In [ ]:
# YOUR PLOT HERE

## 3. Interactive plot with plotly

In [ ]:
# Import plotly express

In [ ]:
# YOUR PLOT HERE