# Bonus

üëá Load the data in folder into a  dataframe.

In [1]:
import pandas as pd

df = pd.read_csv('data.csv')

df.head()

   age     sex     bmi  children  smoker     region      charges
0   19  female  27.900         0    True  southwest  16884.92400
1   18    male  33.770         1   False  southeast   1725.55230
2   28    male  33.000         3   False  southeast   4449.46200
3   33    male  22.705         0   False  northwest  21984.47061
4   32    male  28.880         0   False  northwest   3866.85520

## Exploit all your knowledge!

üëá Train a Regression model (Linear or KNN) using **all features** to predict **charges**. Use your preprocessing knowledge.
- Encode
- Scale
- Train/test split
- Train model

### üëá Encode

In [ ]:
# YOUR CODE HERE

### üëá Scale

In [ ]:
# YOUR CODE HERE

### üëá Train/test Split

In [ ]:
# YOUR CODE HERE

### üëá Train and score model

In [ ]:
# YOUR CODE HERE

# üèÅ