# Reboot

In [252]:
import pandas as pd

data = pd.read_csv('humans.csv')

data

      sex  age hair_length  height_cm  weight_kg  shoe_size
0  Female   27       Short      162.0        NaN        NaN
1    Male   31       Short        NaN       82.0       43.0
2    Male   19       Short      170.0       74.0        NaN
3  Female   35        Long      165.0       70.0        NaN
4    Male   29        Bald      218.0      155.0        NaN
5  Female   17        Long      154.0       55.0       36.0
6  Female   40        Long      157.0       51.0       37.0

ðŸ‘‡ Deal with `shoe_size`

ðŸ‘‡ Replace the missing value in `weight_kg` by the class average.

ðŸ‘‡ Deal with the missing value in  `height_cm` 
- Replace by a measure resistant to outliers
- Create a new column that indicates a value was imputed 
- Use only `SimpleImputer`

ðŸ‘‡ Encode hair_lenght

ðŸ‘‡ Decode `hair_length`

ðŸ‘‡ Encode `hair_length` manually, respecting the dimension of order. Preserve the origin column, and create a new one with the encoding.

ðŸ‘‡ Balance out the target. Make sure to preserve every unique row.

In [214]:
data_female = data[data['sex']=="Female"]

data_male = data[data['sex']=="Male"]

In [215]:
data_male.sample(n=4, replace = True)

,sex,age,hair_length,height_cm,weight_kg,height_imputed,hair_length_encoded
4,Male,29,Bald,218.0,155.0,False,0
2,Male,19,Short,170.0,74.0,False,1
4,Male,29,Bald,218.0,155.0,False,0
1,Male,31,Short,163.5,82.0,True,1

ðŸ‘‡ Scale `age`, `height_cm`,`weight_kg` features at once in a pipeline.